/* ==== Google Fonts ====*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Comme:wght@100;300;500;600;700;800;900&display=swap');


/* === Root Variables */
:root {
    /* === fonts ===*/
    --default-font: 'Comme', sans-serif;
    --alt-font: 'Bruno Ace SC', cursive;
    --line-height: 1.5rem;
    --letter-spacing: 0.1em;

    /* === sizes === */
    --max-width: 1024px;
    --width: 90%;
    --center: 0 auto;
    --transition: all .3s ease;

    /* === colors === */
    --primary-color: #ca9b25;
    --secondary-color: #a52a2a;
    --bg-color: #faebd7;
    --black: #0e1628;

    /* === box shadows === */
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0px 0px 23px 7px rgba(165, 42, 42, 1);
}

/* ==== Default & General CSS ===== */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    position: relative;
    font-family: var(--default-font);
    background: var(--bg-color);
    color: var(--black);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}

a:hover {
    transition: var(--transition);
    transform: scale(1.2);
}

img {
    width: 10rem;
    display: block;
    object-fit: cover;
}

p {
    color: var(--black);
    font-size: 1.5em;
    font-weight: 600;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--alt-font);
    color: var(--black);
    font-size: 2.5em;
    font-weight: 900;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}