* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    background: antiquewhite;;
}

img {
    width: 25rem;
}

section h1{
    font-size: 4rem;
}

.page-container {
    display: grid;
    padding: 0 15rem;
    border: 1px solid red
}

.inline-icon {
    font-size: 1.2rem;
}
/* ................................................................. */

.hero-content {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-header {
    position: fixed;
    width: 89rem;
    text-align: center;
    background-color: rgb(202, 155, 37);
    height: 3rem;
    margin-top: -.7px;
    z-index: 90;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin: 1rem .5rem;
    margin-top: 1rem;
}

.nav-link:hover {
    background-color: brown;
    padding: 1rem;
    color: rgb(202, 155, 37);
}

.home {
    padding: 1rem;
}
.home-icon {
    width: 2rem;
    position: relative;
    top: .4rem;
    left: .2rem;
}

.hero-description {
    padding: 1rem;
    width: 40rem;
}

.hero-title, .hero-subtitle {
    font-size: 1.5rem;
    padding: 1rem;
}

.hero-title {
    position: relative;
    font-weight: 900;
    font-size: 4rem;
}

.hero-img {
    width: 20rem;
    box-shadow: rgb(202, 155, 37), 1px, 1px, 1px;
}

.hero-btn {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: rgb(222, 214, 194);
    color: brown;
    font-size: 1rem;
    font-style:oblique;
    position: relative;
    top: 4rem;
    left: 10rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-btn:hover {
    padding: 1rem 2rem;
    background-color: brown;
    color: rgb(202, 155, 37);
    font-size: 1rem;
    font-style:oblique;
    cursor: pointer;
    position: relative;
    top: 4rem;
    border: none;
    border-radius: 2rem;
    box-shadow: rgb(202, 155, 37) 0px 5px 15px;
}
/* comment line 1  */

/* start comment line 2 */

#about { 
    position: relative;
    background-color: rgb(202, 155, 37);
    margin: 0 -15rem;
    padding: 1rem 15rem;  
}
.about-title {
    padding: 3rem 1rem 1rem;
    color: brown;
    line-height: 4rem;
}
.about-title span {
    font-size: 7rem;
    display: block;
}
.about-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.abt-img {
    width: 25rem;
    margin: 0 1rem;
}

.about-descriptions {
    padding: 1rem;
    margin: 0 0 0 8rem;
    display: flex;
    flex-direction: column;
}
.about-texts {
    background-color: antiquewhite;
    border: 2px solid brown;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 2rem; 
}

.skills {
    margin: 2rem 0;
    background-color: brown;
    border-radius: 2rem;
    border: 2px solid antiquewhite;
}
.bold {
    font-size: 1.4rem;
    font-weight: 800; 
    width: 34rem;
    padding: 1rem 0 0 1rem;
    border-bottom: 2px solid ;
    
}
.skills-content {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills-name {
   text-align: center;
   font-weight: 800;
}
.skills-img {
    width: 5rem;
}
/* ****************************************** */

#info { 
    position: relative;
    background-color: rgb(202, 155, 37);
    margin: 0 -15rem;
    padding: 2rem 15rem;  
}
.info-title {
    padding: 3rem 1rem 1rem;
    color: brown;
    line-height: 4.5rem;
    
}
.info-title span {
    font-size: 7rem;
    display: block;
}
.info-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.notice {
    width: 40rem;
    padding: 2rem;
    font-size: 1.4rem;  
}


.notice a {
    text-decoration: none;
    color: antiquewhite;
}
.notice a:hover {
    text-decoration: none;
    color: brown
}

/* ******************    */

.long {
    position: absolute;
    top: 2315px;
    right: 6rem;
    width: 12rem;
    z-index: 80;
}

#contacts {
    position: relative;
    width: 100%;
    height: 70vh;
    border: .2rem solid brown;
    border-right: none;
}
.contacts-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}

.contacts-text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
    padding: 1rem;
    margin-right: 4rem;
}

.message {
    padding: 1rem;
    margin: 1rem;
    width: 25rem;
    border-radius: 1rem;
    border: 2px solid brown;
}

.message:hover {
    padding: 1rem;
    margin: 1rem;
    width: 25rem;
    border-radius: 1rem;
    border: 2px solid antiquewhite;
}

.fname, .email,.form-btn {
    display: block;
    margin: 1rem;
    width: 25rem;
    height:3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid brown;
}
.fname:hover, .email:hover {
    display: block;
    margin: 1rem;
    width: 25rem;
    height:3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid antiquewhite;
}

.form-btn {
    background-color: black;
    color: antiquewhite;
    width: 10rem;
    margin: 0 30%;
    border: 2px solid brown;
}

.form-btn:hover {
    background-color: antiquewhite;
    color:black;
    width: 10rem;
    margin: 0 30%;
    border: 2px solid rgb(202, 155, 37);
}

/* ************** */

.page-footer {
    background: black;
    color: brown;
    text-align: center;
    padding: 1rem;
}

