/* ==== Default & General CSS ===== */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-font: 'Handlee', cursive;
    --line-height: 1.5em;
    --max-width: 1115px;
    --width: 90%;
    --center: 0 auto;
    --transition: .10s ease;

    --primary-color: #ca9b25;
    --secondary-color: #a52a2a;
    --default-bg-color: #faebd7;
    --black: #0f172a;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: var(--default-font);
    background: var(--default-bg-color);
    color: var(--black);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
}

img {
    width: 20rem;
    display: block;
    object-fit: cover;
}

p {
    font-size: 1.9em;
    font-weight: 600;
    line-height: 3rem;
    color: var(--black);
}

/* == Default Button Class ==  */
.btn {
    display: inline-block;
    padding: .5em 1em;
    color: var(--secondary-color);
    font-size: 1.2em;
    border-radius: .6em;
    outline: 2px solid var(--secondary-color);
    transition: var(--transition);
}

.btn:hover {
    outline: none;
    color: var(--black);
    font-weight: 600;
    background-color: var(--primary-color);
    transform: scale(1.1);
}

/* == Section heading Class ==  */
.title {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.underline {
    font-size: 2rem;
    margin-top: .5em;
    display: inline;
    border-bottom: 5px solid var(--secondary-color);
}

/* == container class */
.container {
    position: relative;
    max-width: var(--max-width);
    width: var(--width);
    margin: var(--center);
    /* outline: 5px solid var(--secondary-color); */
}

/* ===== ========== ============ */

/* ===== Header styling ===== */
.header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    z-index: 1000;
    border-bottom: 2px solid var(--primary-color);
    transition: var(--transition);
}

.header:hover {
    border: none;
    transition: var(--transition);
}

.nav-link {
    /* border: 2px solid red; */
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--black);
    margin-right: 2rem;
    transition: var(--transition)
}

.nav-link:hover {
    border-bottom: 2px solid var(--primary-color);
    transition: var(--transition);
    transform: scale(1.2);
    color: var(--secondary-color);
}

/* hero section */
#hero {
    /* border: 9px solid rgb(47, 0, 255); */
    padding: 3rem 0 0;
}

.hero-content {
    /* border: 5px solid rgb(255, 234, 0); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    min-height: 90vh;
}

.hero-img {
    width: 20%;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    cursor: none;
    margin-top: 3rem;
}

.hero-description {
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
}

.hero-description h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero-description img {
    /* border: 9px solid rgb(25, 0, 255); */
    width: 20%;
    display: inline-block;
    object-fit: contain;
    border-bottom: 2px solid rgba(0, 0, 0, 0.174);
}

.hero-description p {
    margin-top: 1em;
    padding-left: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
}

.intro {
    font-weight: 600;
    color: var(--secondary-color);
}

.intro:hover {
    border-bottom: 2px solid var(--primary-color);
}


.hero__btn {
    margin: 2rem 0;
}

.hero__btn:hover {}

/* ====== End of Hero Section css ======== */

/* ====== About Section CSS ======== */
#about {
    /* outline: 9px solid red; */
    background-color: var(--primary-color);
    min-height: 50vh;
    padding-bottom: 3em;
}

.about__contents {
    /* outline: 3px solid green; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
}

.about__contents p {
    padding: 2rem;
    background-color: var(--default-bg-color);
    border-radius: 2em;
    outline: 2px solid var(--secondary-color);
    margin-left: 3rem;
}

.about__contents img {
    width: 35rem;
}

#about a {
    display: block;
    width: 20%;
    text-align: center;
    margin: 3rem auto 0;
    font-size: 2rem;
    color: var(--default-bg-color);
    background-color: var(--secondary-color);
    outline: none;
}

#about a:hover {
    background-color: var(--secondary-color);
    color: #0f172a;
}

/* === end of About Section CSS === */

/* === Skills CSS === */
.skills__descr {
    /* outline: 1px solid #a52a2a; */
    text-align: center;
    padding-bottom: 1.7rem;
}

.skills__item {
    /* outline: 2px solid var(--secondary-color); */
    display: flex;
    justify-content: center;
    gap: 10em;
    flex-wrap: wrap;
    padding: 2rem 0 4rem;
}

.item img {
    width: 6em;
}

.item {
    filter: grayscale(10);
}

.item:hover {
    filter: none;
    transform: scale(1.1);
    transition: var(--transition);
}

.item p {
    text-align: center;
}

/* === end of skills styling */

/* === info section styling === */
#info {
    /* outline: 5px solid orangered; */
    background-color: var(--primary-color);
    min-height: 50vh;
}

.info-contents {
    display: flex;
}

/* === end of info styling === */

/* === Contact section CSS */
#contacts {
    /* outline: 5px solid orangered; */
    position: relative;
    min-height: 40vh;
}

.contacts__content {
    display: flex;
    justify-content: space-around;
}

/* ==- end of contact styling */

/* === Footer === */

footer {
    border-top: 3px solid var(--secondary-color);
    background-color: var(--black);
    text-align: center;
    padding: 2rem 0;
}

.footer p {
    color: var(--default-bg-color);
    font-size: 1.3rem;
}

.designer {
    color: var(--secondary-color);
}